p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}
h2{
  color:#0e4291;
}
div.text-box {
  width: 80%;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

