nav {
    display: flex;
    height: 50px;
    background-color: #3579b5;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

  }