

.App {
  text-align: center;
  /* background-image: url(resume.jpg); */
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .newjob{
  background:linear-gradient(rgb(116, 116, 214),rgb(94, 159, 94));
} */
/* .table{

  border-collapse: collapse; /* merge the borders of the cells 
  border-spacing: 0;

}
.table th{

  
    padding: 10px; /* add some padding to the cells for spacing 
    border: 1px solid black; /* add a border for clarity 
  
} */
div.text-box {
  width: 70%;
  padding: 10px;
  border: 5px solid gray;
  margin: 0px;
  
}